details about tuple

  creating a tuple

In [6]:
mytuple=(1,2,3)
print(mytuple)
print(type(mytuple))

(1, 2, 3)
<class 'tuple'>

mixed data type tuple

In [7]:
newtup=(1,"name",4.5,4+5j)
print(newtup)
print(type(newtup))

(1, 'name', 4.5, (4+5j))
<class 'tuple'>

nested tuple

In [8]:
a=("data",["1,2,3"],(7,6,8))
print(a)
print(type(a))

('data', ['1,2,3'], (7, 6, 8))
<class 'tuple'>

tuple constructor

In [11]:
a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

indexing in tuple

In [16]:
a=(10,20,20,40,60,"data")
print (a[-4])

20

slicing in tuple

In [19]:
a=(12,34,56,66,78,99,37,78,88,89,90)
print(a[1:4])

(34, 56, 66)

In [20]:
a=(12,34,56,66,78,99,37,78,88,89,90)
print(a[1::4])

(34, 99, 89)

reversing a tuple in python

In [22]:
a=(12,34,56,66,78,99,37,78,88,89,90)
print(a[::-1])

(90, 89, 88, 78, 37, 99, 78, 66, 56, 34, 12)

how can we insert a element in the tuple

In [27]:
a=(12,34,56,66,78,99,37,78,88,89,90)
b= list(a)
print(b)
print(type(b))
b.append(609)
a=tuple(b)
print(a)
print (type(a))

[12, 34, 56, 66, 78, 99, 37, 78, 88, 89, 90]
<class 'list'>
(12, 34, 56, 66, 78, 99, 37, 78, 88, 89, 90, 609)
<class 'tuple'>

In [28]:
a=(12,34,56,66,78,99,37,78,88,89,90)
b= list(a)
print(b)
print(type(b))
b.remove(88)
a=tuple(b)
print(a)
print (type(a))

[12, 34, 56, 66, 78, 99, 37, 78, 88, 89, 90]
<class 'list'>
(12, 34, 56, 66, 78, 99, 37, 78, 89, 90)
<class 'tuple'>

loop in tuple

In [31]:
tuple =(23,45,67,78)
for i in tuple:
    print(i)

23
45
67
78

joint two tuple

In [32]:
tuple1 =(23,45,67,78)
tuple2 =(93,95,67,76)
tuple3= (tuple1+tuple2)
print(tuple3)

(23, 45, 67, 78, 93, 95, 67, 76)

multply two tuple

In [37]:
tuple1 =(23,78)
t2 = tuple1*2
print(t2)
print(t2+t2+t2)

(23, 78, 23, 78)
(23, 78, 23, 78, 23, 78, 23, 78, 23, 78, 23, 78)